.content2 {
    width:100%;
    position:relative;
    z-index:2;
    float:left;
    padding-bottom:50px;
}

.container2{
    /*max-width: 1224px;*/
    width:100%;
    margin:0 ;
    position: relative;
    z-index:2;
}

.container3 {
    display:grid;
    /*grid-template-columns:var(--base-grid-columns);*/
    /*grid-column-gap:var(--base-grid-gap);*/
    /*max-width:var(--base-max-width);*/
    padding:0
}

/*.fixed-info-container2 {*/
/*    position:fixed;*/
/*    z-index:2;*/
/*    top:60px;*/
/*    left:0;*/
/*    bottom:50px;*/
/*    width:350px;*/
/*    background:#fff;*/
/*    padding:120px 30px 80px 30px;*/
/*    overflow:hidden;*/
/*}*/
/*.filter-vis-column2 {*/
/*    position:relative;*/
/*    height:auto;*/
/*    float:left;*/
/*    width:100%;*/
/*    padding:0;*/
/*}*/