/*******************************************************************************
Add your styles here
 *******************************************************************************/
.role {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextCyr-Demi';
    font-size: 14px;
    color: #000;
    height:100%;
}

.resumesection {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextCyr-Demi';
    font-size: 16px;
    color: #000;
    height:100%;
}
.roledesc {
    text-align:left;
    list-style-type: square;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextCyr';
    font-size: 12px;
    color: #6e6e6e;
    height:100%;
    padding-left: 130px;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.whitelinks {
    color: #ffffff;
}

.downscaled{
    image-rendering: -webkit-optimize-contrast;
}

.containerx {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centeredx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}